version: '3'

services:
  elasticsearch:
    image: elasticsearch:8.7.0
    container_name: elasticsearch-dev
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    networks:
      devops:
        ipv4_address: 172.22.0.10
  kibana:
    image: kibana:8.7.0
    container_name: kibana-dev
    ports:
      - "5601:5601"
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    depends_on:
      - elasticsearch
    networks:
      - devops

  filebeat:
    build:
      context: ./filebeat
      dockerfile: Dockerfile
    container_name: filebeat
    command: filebeat -e -strict.perms=false
    volumes:
      - ./logs:/src/logs
    depends_on:
      - elasticsearch
      - kibana
    networks:
      - devops
  
  nestjs-app:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: nestjs-app
    ports:
      - "3000:3000"
    networks:
      - devops
    depends_on:
      - elasticsearch
      - postgres
    volumes:
      - ./logs:/src/logs
    
  postgres:
    image: postgres:14
    container_name: postgres4
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    networks:
      devops:
         ipv4_address: 172.22.0.4
    volumes:
      - d_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  elasticsearch_data:
    driver: local
  d_data:
    driver: local

networks:
  devops:
    external: true
    ipam:
      config:
        - subnet: 172.22.0.0/16
