input {
    file {
        path => "/app/logs/application.log"
        start_position => "beginning"
        sincedb_path => "/dev/null"  # Ensure it reads from the beginning every time
    }
}

output {
    elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "proyecto-devops-backend-%{+YYYY.MM.dd}"
        #user => "elastic"
        #password => "changeme"
    }
}