input{
    file{
        path => "app/logs/application.log"
        start_position => "beginning"
    }
}

output{
    elasticsearch{
        hosts => ["https://localhost:9200"]
        index => "proyecto-devops-backend-%{+YYYY.MM.dd}"
        #user => "elastic"
        #password => "changeme"
    }
}